.nav {
    flex-direction: unset;
}
@media (max-width: 768px) {
    .nav {
        flex-direction: column;
    }
}
.navbar {
    font-weight: bolder;
    padding: 10px;
}
#navbarToggler {
    padding: 5px;
}
#sheltersMap {
    height: 50vh;
}
#shelterBar {
    height: 25vh;
}
#genDemogScatter {
    height: 42vh;
}
#genDemogBar {
    height: 40vh;
}
